.footer .basic-contacts {
  margin-right: 40px;
}

@media screen and (max-width: $tablet-1) {
  .footer .logo {
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
  }
}

.main-footer-contact-list > .item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.main-footer-contact-list a {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main-footer-contact-list .map {
  color: $text-white-color;
}
