.nav {
  // display: flex;
  align-items: center;
}

.nav-main {
  display: none;
  @media screen and (max-width: $tablet-1) {
    text-align: center;
  }
  // display: flex;
  // margin-left: 93px;
  & li {
    @media screen and (max-width: $tablet-1) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.nav-main > li + li {
  //margin-left: 50px;
}

.nav-main li {
}

.nav-main.list a {
  &:hover,
  &:active,
  &:focus {
    color: $basic-blue-color;
  }

  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $text-headder-dark-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-main.list .is-current {
  position: relative;
  color: $basic-blue-color;

  &::after {
    /* Pseudoelement */
    display: block;
    position: absolute;
    width: 100%;
    transform: translateY(4px);

    content: '';
    height: 4px;
    background: $basic-blue-color;
    border: 0px solid invisible;
    border-radius: 2px;
  }
}
