.our-advantages-cards {
  background-color: $background-main-color;
}

.section.our-advantages-cards {
  padding-bottom: 0;
}

.our-advantages.list .card {
  @media screen and (max-width: $tablet-1) {
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background: $background-medium-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.our-advantages.list .icon {
  display: block;
  width: 70px;
  height: 70px;
}

.our-advantages-cards h3 {
  color: $text-headder-dark-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.our-advantages-cards p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* 24px */
  letter-spacing: 0.03em;
  text-align: left;
}

/* placement for advantage cards */
.our-advantages.list {
  // display: flex;
}

.our-advantages.list .item {
  // width: 270px;

  @media screen and (min-width: $desktop) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  & h3 {
    @media screen and (max-width: $tablet-1) {
      text-align: center;
    }

    margin-bottom: 10px;
  }
}
