$basic-blue-color: #2196f3;
$basic-darker-blue: #188ce8;
$text-common-light-color: #757575;
$text-headder-dark-color: #212121;
$text-white-color: #ffffff;
$text-black-color: #000000;
$background-main-color: #ffffff;
$background-medium-color: #f5f4fa;
$background-dark-color: #2f303a;
$sotials-inactive-color: #afb1b8;

$basic-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', 'Oleo Script', cursive, sans-serif;
